.form-control, .input, .select {
    background: rgba(210, 210, 210, 0.25) !important;
    border: 2px solid #BCBCBC !important;
    box-sizing: border-box !important;
    border-radius: 5px !important;
    height: 50px !important;
    font-size:1.25 rem !important;
    font-weight: normal !important;
    line-height: 25px !important;
    color: white !important;
    padding: .375rem .75rem;
    margin-bottom: 20px;
    width: 100% !important;
}