.button {
    background: #03F387;
    color:#00031F;
    padding: 12px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
}